header{
    background-color: red;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    top: 0;
    position: fixed;
}
.logo{
    float: left;
    padding-left: 2%;
    width: 10%;
    height: 50px;
    color: aliceblue;
}
.navlinks{
    float: left;
    display: inline;
    padding-top: 40px;
    padding-right: 2%;
}
.navlinks a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}
.navlinks a:hover, a:active {
        background-color: red;
}
.sidemenu{
    width: 15%;
    height: 100%;
    position: fixed;
    text-align: center;
    margin-left: 2%;
    margin-right: 10%; 
    background: #f44336;
}
.sidemenu #lh3::before{
    content: "•";
    padding-left: 2%;
}
.sidemenu a{
    text-decoration: none;
    color: white;
    padding: .5%;
    display: block;
}
.sidemenu h1{
    text-decoration: none;
    color: white;
    padding: .5%;
    display: block;
}
body{
    background: #f44336;
}
.content{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
    margin-top: 110px;
    margin-left: 20%;
    margin-right: 20%; 
    background: white;
}

